@tailwind base;
@tailwind components;
@tailwind utilities;

*,body,html{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: #fefefe;
}

@keyframes slide {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 80% {
    transform: translateX(-100%);
  }
  40%, 60% {
    transform: translateX(-200%);
  }
}